*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* GENERAL STYLE */
.general-container{
    height: 100vh
}

.w60-margin-auto{
    width: 65%;
    margin: 0 auto;
    /* DEBUG */
    /* min-height: 600px; */
}

.w50-margin-auto{
    width: 50%;
    margin: 0 auto;
    /* DEBUG */
    /* min-height: 600px; */
}

.dsflex{
    display: flex;
}

.wrap-between{
    flex-wrap: wrap;
    justify-content: space-around;
}

.div-section{
    margin-bottom: 150px;
}

a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
}

ul{
    list-style-type: none;
    align-items: center;
}

li{
    margin: 0 5px;
}

i{
    padding-right: 4px;
    transform: translate(-50%, 5%);
}

h1{
    font-size: 4vw;
    font-weight: 900;
    padding: 85px 0 70px;
}

h2{
    padding-bottom: 70px;
    font-size: 2vw;
}

/* COLORS */
.bg-azzurro{
    background-color: #b4d0e7;
}

.bg-lightgreen{
    background-color: #d1e9cd;
}

.bg-green{
    background-color: #a2d39b;
}

.bg-magenta{
    background-color: #61082b;
}

.tx-magenta{
    color: #61082b;
}

.bg-lightblue{
    background-color: #0093ce;
}

.bg-orange{
    background-color: #ff1c1c;
}

.bg-red{
    background-color: #d5001f;
}

.bg-darkblue{
    background-color: #0d2481;
}

.bg-yellow{
    background-color: #ffd830;
}

.bg-lightgrey{
    background-color: rgba(211, 211, 211, 0.356);
}

.bg-black{
    background-color: black;
}

/* BUTTONS */
.bg-button-blu{
    background-color: #0061ff;
    color: white;
}

/* .bg-button-white{
    border: 1px solid black;
} */

.button{
    text-align: center;
}

.border{
    border: solid 1px black;
}

#button-nav{
    padding: 5px 10px;
}

input[type="radio"]{
    accent-color: #0061ff;
}

/* HEADER */
nav{
    /* position: fixed;
    width: 100%;
    background-color: white; */
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 500;
}

#logo img{
    align-self: center;
}

/* MAIN */
main{
    height: calc(100% - 80px);
    overflow-y: auto;
    /* DEBUG */
    padding-bottom: 100px;
}

/* JUMBO */
.jumbo{
    max-height: 760px;
    margin-bottom: 150px;
}

.paragrafo-jumbo{
    width: 30%;
    flex-direction: column;
}

.paragrafo-jumbo div{
    margin: 0 0 25px 0;
}

#row-down{
    font-size: 3vw;
    margin: 50px 0 10px;
}

.immagine-jumbo{
    z-index: 499;
    width: 70%;
}

.immagine-jumbo img{
    width: 100%;
}

/* MAIN SEZIONE 1 */
.sezione1{
    flex-direction: column;
}

.fatturazione{
    padding-bottom: 20px;
}

.fatturazione span{
    margin-right: 20px;
}

.soluzioni-pagamento{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.soluzione{
    width: 30%;
    border: solid 1px lightgray;
    flex-direction: column;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.dimensione-piano{
    width: 100%;
    text-align: center;
    border-bottom: solid 1px lightgray;
    font-weight: lighter;
    padding: 5px 0;
}

.occhiata{
    padding: 30px 25px 0 25px ;
}

.occhiata h3{
    font-size: 25px;
    padding: 0 0 20px;
}

.occhiata h4{
    padding-bottom: 20px;
}

.occhiata h5{
    font-size: 16px;
    font-weight: lighter;
    padding-bottom: 20px;
}

.occhiata li{
    display: flex;
    padding: 10px 0;
}

.occhiata span a{
    text-decoration: underline;
    color: blue;
    padding: 30px 0 30px;
}

.barretta{
    width: 40px;
    border-top: 1px solid lightgray;
    margin: 0 0 0 25px;
}

.soluzione-enterprise{
    border: solid 1px lightgray;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.soluzione-enterprise .occhiata{
    display: flex;
}

.contenitore-button{
    width: 30%;
    margin-left: 26px;
}

/* MAIN SEZIONE 2 */
.immagine-sezione2 img{
    width: 30vw;
    margin-bottom: 150px;
}

.paragrafo-sezione2{
    padding: 50px 0 0 40px;
}

.paragrafo-sezione2 div h3{
    font-size: 25px;
    margin-bottom: 15px;
}

.paragrafo-sezione2 div p{
    margin-bottom: 20px;
}

/* MAIN SEZIONE 3 */
.immagine-sezione3{
    width: 30%;
    margin-bottom: 35px;
}

.immagine-sezione3 img{
    width: 100%;
}

.immagine-sezione3 h3{
    margin-bottom: 15px;
}

.link-aside{
    color: blue;
    padding: 0;
    text-decoration: underline;
}

/* MAIN ASIDE */
.clients{
    margin-top: 150px;
    
}

.wrap{
    flex-wrap: wrap;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.riquadro-sinistra, .riquadro-destra{
    min-width: calc(100vw / 3);
    min-height: calc(100vw / 3);
}

.riquadro-sinistra img, .riquadro-destra img, .riquadro-centro img{
    width: 50%;
    filter: invert(1);
}

.riquadro-centro{
    flex-grow: 1;
    padding: 25px 25px 0 25px;
}

.selezionato{
    width: 90%;
    height: 90%;
    margin: 5%;
}

.partnerdimension{
    width: 50%;
    height: 50%;
}

#img-centrale{
    filter: none;
}

.riquadro-centro div{
    width: 6vw;
    border-top: solid 1px lightgray;
    margin: 3vw 0;
}

.riquadro-centro p{
    font-size: 1vw;
}

.f-aside h2{
    padding: 70px 130px 70px 0;
}

.f-aside a{
    display: inline-block;
    width: 20vw;
    background-color: white;
    font-weight: lighter;
    text-align: center;
    /* margin: 70px 0; */
    align-self: center;
}

/* MAIN FAQ */
.faq{
    padding: 80px 0;
}

.faq h5{
    font-size: 1vw;
}

.box-domande{
    border-top: 1px solid black;
}

.domanda{
    justify-content: space-between;
    padding: 15px 15px 15px 0;
    border-bottom: 1px solid black;
}


